{% load static %}
{% load markdownify %}

<html>
    <head>
        <!-- Google Search Engine Optimization-->
        <meta name="google-site-verification" content="x4BZ6AdEAsI8UE60J2I8BMnA9gCp1ErJwh2gjI6sZdE" />
        <meta name="Description" content="Auther: {% post.author %}, Title: {% post.title %}, {% post.text|truncatewords:20 %}">

        <!-- static and CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
        <link rel="stylesheet" href="{% static 'css/highlight/styles/dracula.css' %}">
        <script src="{% static 'css/highlight/highlight.pack.js' %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <title>Leon Kong's Blog</title>
    </head>
    
<body>

    <div class="page-header">
        <div class="menu">
            <h1><a href="/">Leon Kong's Blog</a></h1>
            <div class="category">
                <a class="write" href="{% url 'about' %}">about</a>
                <a class="write" href="{% url 'category_list' category='cs' %}">computer science</a>
                <a class="write" href="{% url 'category_list' category='pj' %}">projects</a>
                <a class="write" href="{% url 'category_list' category='es' %}">essays</a>
                {% if user.is_authenticated %}
                <a class="write" href="{% url 'post_new' %}"><img class="plus" src="{% static 'css/images/plus.png' %}" /></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bg"><img src="{% static 'css/images/main2.jpg' %}" width="100%"></img></div>
    <div class="content-container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
