{% load static %}
{% load markdownify %}

<html>
    <head>
        <!-- Google Search Engine Optimization-->
        <meta name="google-site-verification" content="x4BZ6AdEAsI8UE60J2I8BMnA9gCp1ErJwh2gjI6sZdE" />
        {% if post %}
        <meta name="Description" content="Auther: Leon Kong, Title: {{ post.title }}, {{ post.text|truncatewords:20 }}">
        {% else %}
        <meta name="Description" content="Auther: Leon Kong, Title: Leon Kong's Blog, Dev blog about Python, Django, and Algorithm. ">
        {% endif %}

        <!-- Facebook OG meta tags -->
        {% if post %}
        <meta property="og:url" content="http://leonkong.com{% url 'post_detail' id=post.id %}">
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ post.title }}" />
        <meta property="og:Description" content="{{ post.text|truncatewords:20 }}" />
        <meta property="og:image" content="http://leonkong.com{% static 'css/images/main2.jpg' %}" />
        {% endif %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- static and CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
        <link rel="stylesheet" href="{% static 'css/highlight/styles/dracula.css' %}">
        <script src="{% static 'css/highlight/highlight.pack.js' %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <title>Leon Kong's Blog</title>
    </head>
    
<body>

    <div class="page-header">
        <div class="menu">
            <h1><a href="/">Leon Kong's Blog</a></h1>
            <div class="category">
                <a class="write" href="{% url 'about' %}">about</a>
                <a class="write" href="{% url 'category_list' category='cs' %}">computer science</a>
                <a class="write" href="{% url 'category_list' category='pj' %}">projects</a>
                <a class="write" href="{% url 'category_list' category='es' %}">essays</a>
                {% if user.is_authenticated %}
                <a class="write" href="{% url 'post_new' %}"><img class="plus" src="{% static 'css/images/plus.png' %}" /></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bg"><img src="{% static 'css/images/main2.jpg' %}" width="100%" /></div>
    <div class="content-container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
