{% extends 'blog/base.html' %}
{% load markdownify %}
{% load static %}

{% block content %}
	{% for post in posts %}
    	
    		<p>{{ post.created_date }}</p>
        	<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="edit">
                {% if user.is_authenticated %}
                <a href="{% url 'post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i>
                </a>
                {% endif %}
            </div>
            <div>
                <p>
        		    {{ post.text|markdown|safe|truncatewords:50 }}
               </p>
            </div>
    	<hr>
	{% endfor %}

    {% if posts.has_other_pages %}
    <ul class="pagination">
        <span class="pagination">
            {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="active"><span class="page_num">{{ i }}</span></li>
                {% elif i > posts.number|add:'-4' and i < posts.number|add:'4' %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </span>
    </ul>
{% endif %}

{% endblock %}