{% extends 'blog/base.html' %}
{% include 'blog/upload.html' %}

{% block content %}
	<h1>New Post</h1>
	<form method="POST" class="post-form">
		{% csrf_token %}
		<p class="form">Category: {{ form.category }}</p>
		<p class="form">Title:{{ form.title }}</p><br />
		<button type="submit" class="editor" id="btn_js">Javascript</button>
		<button type="submit" class="editor" id="btn_py">Python</button>
		<button type="submit" class="editor" id="btn_br">br</button>
		<p class="form">Text:</p>{{ form.text }}
		<button type="submit" class="save">Save</button>
	</form>

	{% include 'blog/upload.html' %}
{% endblock %}