{% extends 'blog/base.html' %}
{% include 'blog/upload.html' %}

{% block content %}
	<h1>New Post</h1>
	<form method="POST" class="post-form">
		{% csrf_token %}
		<p class="form">Category: {{ form.category }}</p>
		<p class="form">Title:{{ form.title }}</p><br />
		<button type="button" class="editor" onclick="editor.codeBlock('javascript')">Javascript</button>
		<button type="button" class="editor" onclick="editor.codeBlock('python')">Python</button>
		<button type="button" class="editor" onclick="editor.addBr()">br</button>
		<p class="form">Text:</p>{{ form.text }}
		<button type="submit" id="submit" class="save">Save</button>
	</form>

	<script src="http://www.leonkong.com/static/css/blog.js"></script>

	{% include 'blog/upload.html' %}
{% endblock %}