body {font-family: sans-serif;}

div.page-header {
	background-color: #fff;
	width: 100%;
	height: 50px;
	padding: 0px 5px 5px 10px;
	position: fixed;
}

hr { border: 0.5px solid #e8e8e8 }

body{
	margin: 0;
}


div.menu {
	width: 95%;
	margin-top: 10px;
}

h1 {
	display: inline;
	letter-spacing: 1pt;
}

div.menu h1, div.menu h1 a {
	color: #4e57ac;
	font-size: 20pt;
	text-decoration: none;
}

a.write {
	float: right; 
	color: #4e57ac;
	margin-top: 5px;
}

div.content-container {
	width: 100%
}

div.post {
	margin: 100px 0;
}

a {text-decoration: none;}
a:link, a:visited { color: #4e57ac; }
a:hover{ color: #4e80ac;}

div.col-md-8 {
	width: 1000px;
	margin:70px auto 70px auto;
}

div.content {
	letter-spacing: 0.5pt;
	line-height: 1.5;
}

form.post-form input {
	width: 1000px;
	height: 40px;
	font-size: 14pt;
	letter-spacing: 1pt;
}

textarea {
	width: 1000px;
	height: 500px;
	font-size: 11pt;
	line-height: 1.5;
	letter-spacing: 0.5pt;
}

button.save {
	float: right;
	font-family: 'helvetica-neue';
	letter-spacing: 1pt;
	font-size: 14pt;
}

pre > code {
	font-size: 11pt;
	font-family: monospace;
}

