@charset "UTF-8";

/* Basic Setting */
:root {
    --main-color: #D0CACA;
    --sky-color: #89959D;
    --dark-green-color: #65836E;
    ---light-green-color: #6F9A88;
    --sky-dark-color: #797F83;
    --text-bright-color: #fff;
    --large-width: 1000px;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Gothic A1', '맑은 고딕', sans-serif;
}

i {
    font-size: 14px;
}

hr {
    border: 0.5px solid #e8e8e8;
}

/* ConA: Hero Image */
.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 340px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(img/daria-shevtsova-411553.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 5vw;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2vw;
}

/* conB: Post Lists */
.conB .container {
    max-width: 1000px;
    max-width: var(--large-width);
    margin: 0 auto;
}
.conB h1 {
    color: #65836E;
    color: var(--dark-green-color);
    font-size: 32px;
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #797F83;
    color: var(--sky-dark-color);
    font-size: 24px;
}

.conB p {
    margin-top: 2vw;
    margin bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
    
}

.conB a {
    color: #65836E;
    color: var(--dark-green-color);
    text-decoration: none;
}

.conB a:hover {
    color: #6F9A88;
    color: var(--light-green-color);
    text-decoration: underline;
}

.conB i {
    opacity: 0.8;
    font-size: 1.2vw;
}

.conB i:hover {
    opacity: 0.5;
}

.about .photo {
    min-height: 40vh;
    margin: 20px 0;
    background-image: url(/static/css/img/portrait.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.about .text {
    padding: 20px;
}

.edit {
	height: 40px;
	float: right;
	letter-spacing: 1pt;
	font-size: 14pt;
}

/* Footer */
footer {
    color: #fff;
    color: var(--text-bright-color);
    background-color: #8DA6B0;
    background-color: var(--sky-dark-color);
}

footer .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.footA {
    font-size: 1vw;
    text-align: center;
}

.footA h2 {
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    font-size: 4vw;
}

.footA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.6vw;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

/* headA: Site Title */
.headA {
    display: inline-block;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: #8DA6B0;
    color: var(--sky-dark-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.headA:hover {
    color: #D0CACA;
    color: var(--main-color);
}

/* headB: Navigation Menu */
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a {
    display: block;
    padding: 15px;
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
    text-decoration: none;
}

.headB a:hover {
    background-color: #D0CACA;
    background-color: var(--main-color);
}

/* Interaction */
.interaction { 
    font-size: 14px;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.interaction p {
    font-size: 14px;
}

.interaction a {
    fontsize: 14px;
}

.interaction div {
    float: right;
}

/* Post Edit: forms and textareas */
.form {
    padding: 0 0;
    margin: 10 0;
    font-size: 14px;
    letter-spacing: 1pt;
    line-height: 40px;
}

.post-form input {
    width: 950px;
    float: right;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1pt;
}

textarea {
		width: 1000px;
		height: 500px;
		font-size: 11pt;
		line-height: 1.5;
		letter-spacing: 0.5pt;
}

.save {
    float: right;
    font-family: 'Montserrat', 'Gothic A1', sans-serif;
    letter-spacing: 1pt;
    font-size: 1.5vw;
}

code {
    padding-top: 0 !important;
    padding-bottom: 15px !important;
    padding-left: 20px !important;
    font-size: 12px;
    font-family: 'Montserrat', 'Gothic A1', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.8;

}

/* Paginations */
.pagination {
    color: #D0CACA;
    color: var(--main-color);
    margin: 0 auto;
    display: table;
}

.pagination li {
    display: inline;
    margin: 0 5px 0 5px;
}

.pagination a {
    color: #65836E;
    color: var(--dark-green-color);
    text-decoration: none;
}

.pagination a:hover {
    color: #6F9A88;
    color: var(--light-green-color);
    text-decoration: underline;

}

span.page_num {
    display: inline; 
    font-weight: 800;
    color: #D0CACA;
    color: var(--main-color);
}

/* Screen Orientation: Landscape */
@media (orientation: landscape)  {
    .conA h1 {
        font-size: 48px;
    }
    
    .conA p {
        font-size: 18px;
    }
    
    .conB .about {
        display: flex;
    }
    
    .about .photo {
        flex: 1;
        margin: 50px 0;
    }
    
    .about .text {
        flex: 3;
        padding: 50px;
    }
    
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    
    .headB {
        display: block !important;
    }
    
    .headB ul {
        display: flex;
    }
    
    .footA {
        font-size: 12px;
        text-align: center;
    }

    .footA h2 {
        margin-top: 0;
        margin-bottom: 10px;
        letter-spacing: 0.1em;
        font-size: 18px;
    }
    
    .footA p {
        font-size: 12px;
    }
    
    .headC {
        display: none;
    }
}

/* Screen Orientation: Portrait */
@media (orientation: portrait) {
    body {
        margin: 0;
        overflow-x: hidden;
        width: 100%
    }
    
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .headA {
        line-height: 8vh;
        font-size: 5vw;
    }
    
    .headB a {
        font-size: 4vw;
    }
    
    .headC {
        padding-right: 3vw;
        border: none;
        outline: none;
        background: none;
        font-size: 5vw;
        opacity: 0.5;
        cursor: pointer;
    }
    
    .headC:hover {
        opacity: 0.3;
    }
    
    .headB {
        display: none;
    }
    
    /* conB: Post Lists */
    .conB {
        padding: 4vw 4vw;
    }
    
    .conB .container {
        width: 100%;
    }
    .conB h1 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 4.6vw;
    }
    
    .conB h2 {
        font-size: 4.3vw;
    }

    .conB p {
        margin-top: 0;
        margin bottom: 20px;
        font-size: 4vw;
        line-height: 1.8;
        opacity: 0.8;
    }
    
    hr {
        border: 0.2vw solid #e8e8e8;
    }
    
    /* Interaction */
    .interaction {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 4vw;
    }

    .interaction .like {
        margin-left: 0;
        padding-left: 0;
    }

    .interaction p {
        margin-left: 0;
        padding-left: 0;
        font-size: 4vw;
    }

    .interaction a {
        margin-left: 0;
        padding-left: 0;
        fontsize:4vw;
    }

    .interaction div {
        margin-right: 0;
        padding-right: 0;
    }
    
    code {
    padding-top: 0 !important;
    padding-bottom: 2.5vw !important;
    padding-left: 3vw !important;
    font-size: 4vw;
    font-family: 'Montserrat', 'Gothic A1', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.8;

}
    
}
